In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('marketingcampaigns.csv')

In [4]:
df.head()

,Customer id,Age,Gender,Location,Email Opened,Email Clicked,Product page visit,Discount offered,Purchased
0,1,22,0,Perth,1,1,3,1,1
1,2,55,0,Auckland,1,0,0,0,0
2,3,15,1,Sydney,0,1,2,1,1
3,4,25,0,Brisbane,1,1,5,1,0
4,5,36,1,Brisbane,0,1,1,1,0

In [5]:
df.count()

Customer id           20
Age                   20
Gender                20
Location              20
Email Opened          20
Email Clicked         20
Product page visit    20
Discount offered      20
Purchased             20
dtype: int64

In [9]:
df.isna().sum()

Customer id           0
Age                   0
Gender                0
Location              0
Email Opened          0
Email Clicked         0
Product page visit    0
Discount offered      0
Purchased             0
dtype: int64

In [10]:
df.describe()

,Customer id,Age,Gender,Email Opened,Email Clicked,Product page visit,Discount offered,Purchased
count,20.00000,20.000000,20.000000,20.000000,20.000000,20.00000,20.000000,20.000000
mean,10.50000,38.250000,0.550000,0.500000,0.600000,2.10000,0.500000,0.500000
std,5.91608,15.382406,0.510418,0.512989,0.502625,1.68273,0.512989,0.512989
min,1.00000,15.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,5.75000,24.500000,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000
50%,10.50000,38.000000,1.000000,0.500000,1.000000,2.00000,0.500000,0.500000
75%,15.25000,53.500000,1.000000,1.000000,1.000000,3.00000,1.000000,1.000000
max,20.00000,62.000000,1.000000,1.000000,1.000000,5.00000,1.000000,1.000000

In [12]:
df.dtypes

Customer id            int64
Age                    int64
Gender                 int64
Location              object
Email Opened           int64
Email Clicked          int64
Product page visit     int64
Discount offered       int64
Purchased              int64
dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le = LabelEncoder()

In [16]:
df['Location'] = le.fit_transform(df['Location'])

In [20]:
df.sample()

,Age,Gender,Location,Email Opened,Email Clicked,Product page visit,Discount offered,Purchased
5,30,0,3,0,0,0,0,0

In [19]:
df.drop('Customer id',axis = 1, inplace = True)

In [51]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
x_train,x_test, y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 0)

In [25]:
from sklearn.linear_model import LogisticRegression

In [26]:
model = LogisticRegression()

In [56]:
model.fit(x_train,y_train)

LogisticRegression()

In [57]:
y_pred = model.predict(x_test)

In [54]:
print(x_test.shape)
print(y_test.shape)

(6, 7)
(6,)

In [55]:
print(x_train.shape)
print(y_train.shape)

(14, 7)
(14,)

In [64]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [65]:
score = accuracy_score(y_test,y_pred)

In [66]:
score

0.6666666666666666

In [61]:
matrix = confusion_matrix(y_test,y_pred)

In [62]:
matrix

array([[2, 1],
       [1, 2]], dtype=int64)